
<main>
    <section class="well well1 well1_ins1">
        <div class="camera_container">
            <div id="camera" class="camera_wrap">
			<div asp-append-version="true" data-src="@Url.Content("~/Imagens/banner1.png")"></div>
			<div asp-append-version="true" data-src="@Url.Content("~/Imagens/BANNER2.png")"></div>
			<div asp-append-version="true" data-src="@Url.Content("~/Imagens/banner3.png")"></div>
			<div asp-append-version="true" data-src="@Url.Content("~/Imagens/banner4.png")"></div>
            </div>
        </div>
        <div id="fh5co-main">
            <div id="fh5co-clients">	
                <div class="container">
                    <div class="row text-center">
                        <div class="col-md-3 col-sm-6 col-xs-6  wow fadeInDown  " data-wow-duration='1.5s'>
                            <figure class="fh5co-client">
                                <img src="@Url.Content("~/Imagens/entrega.png")" alt="Entrega Grátis">
                                <h4>Entrega Grátis</h4>
                            </figure>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-6  wow fadeInDown  " data-wow-duration='3s'>
                            <figure class="fh5co-client">
                                <img src="@Url.Content("~/Imagens/convenio.png")" alt="Melhores Convenios">
                                <h4>Convênios</h4>
                            </figure>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-6 wow fadeInDown  " data-wow-duration='4s'>
                            <figure class="fh5co-client">
                                <img src="@Url.Content("~/Imagens/remedio.png")" alt="Medicamentos">
                                <h4>Medicamentos</h4>
                            </figure>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-6  wow fadeInDown  " data-wow-duration='5s'>
                            <figure class="fh5co-client">
                                <img src="@Url.Content("~/Imagens/popular.png")" alt="Farmacia Popular">
                                <h4>Fármacia Popular</h4>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="well well2 wow fadeIn  bg1" data-wow-duration='3s'>
        <div class="container">
            <h2 class="txt-pr">
                bem Vindo a
                <small>
                    Sabino Farma
                </small>
            </h2>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <p>
                        Estabelecimento sustentável centrado no atendimento das necessidades dos nossos clientes, da família e da comunidade, por meio da prestação de serviços farmacêuticos e da provisão de medicamentos e outros produtos de saúde, que visem á promoção, recuperação e prevenção da mesma.

                    </p>
                    <br />

                </div>
                <div class="col-md-6 col-sm-12">

                    <p>
                        Orientações básicas para o uso de medicamentos, é uma prática profissional que permite ganhos positivos ao paciente. Nossa equipe devidamente treinada para o atendimento e realização em serviços de educação em saúde, garantindo acesso as informações quando ao uso racional de medicamentos e a diversidade de marcas de cosméticos disponivel no mercado.
                                         
                           <a href="/Home/Empresa" class="btn-link l-h1 fa-angle-right"></a>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="well well2">
        <div class="container">
            <h2>
              nossos
                <small>
                    Benéficios
                </small>
            </h2>
            <div class="row offs1">
                <div class="col-md-6 col-sm-12">
                    <ul class="link-list wow fadeInLeft" data-wow-duration='3s'>
                        <li>
                            <a href="/Home/Convenio">Convênios</a>
                            <a href="/Home/Convenio" class="btn-link "><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="/Home/FarmaciaPopular">Farmacia Popular</a>
                            <a href="/Home/FarmaciaPopular" class="btn-link "><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="/Home/Generico">Genéricos</a>
                            <a href="/Home/Generico" class="btn-link "><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="/Home/PBM">PBM</a>
                            <a href="/Home/PBM" class="btn-link  "><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 col-sm-12 wow fadeInRight" data-wow-duration='5s'>
                    <img class="width_img"  src="@Url.Content("~/Imagens/sabinofarma.jpg")" alt="SabinoFarma">
                </div>
            </div>
        </div>
    </section>
    <section class="well well3 parallax" data-url="@Url.Content("~/Imagens/9459.jpg")" data-mobile="true" data-speed="0.9">
        <div class="container">
            <div class="wrap text-center">
                <strong class="wow fadeIn " data-wow-duration='3s'>
                    VENHA CONFERIR<br />
                    NOSSOS
                    <small class="wow fadeIn " data-wow-duration='5s'>
                        PRODUTOS <strong>&</strong> PROMOÇÕES
                    </small>
                </strong>

                <a href="#" class="btn btn-primary">Click Aqui <span class="fa-angle-right"></span></a>
            </div>
        </div>
    </section>
    <section class="well well2">
        <div class="container">
            <h2>
              Empresas
                <small>
                    Parceiras
                </small>
            </h2>
            <div class="row offs1">
                <ul class="flex-list">
                    <li class="col-lg-3 col-sm-3 col-xs-6">
                        <a href="#">

                            <img class="wow fadeIn " alt="LaRoche" data-wow-duration='1s' src="~/Imagens/carousel/LaRoche.png" />
                        </a>
                    </li>
                    <li class="col-lg-3 col-sm-3 col-xs-6">
                        <a href="#">

                            <img class="wow fadeIn " alt="Logo" data-wow-duration='2' src="~/Imagens/carousel/logo.png" />
                        </a>

                    </li>
                    <li class="col-lg-3 col-sm-3 col-xs-6">
                        <a href="#">

                            <img class="wow fadeIn " alt="medley" data-wow-duration='3s' src="~/Imagens/carousel/medley.png" />
                        </a>
                    </li>
                    <li class="col-lg-3 col-sm-3 col-xs-6">
                        <a href="#">

                            <img class="wow fadeIn " alt="neoquimica" data-wow-duration='4s' src="~/Imagens/carousel/neoquimica.gif" />
                        </a>
                    </li>
                </ul>
                <ul class="flex-list">
                    <li class="col-lg-3 col-sm-3 col-xs-6">
                        <a href="#">

                            <img class="wow fadeIn " alt="emspharma" data-wow-duration='5s' src="~/Imagens/carousel/emspharma_1-converted.png" />
                        </a>
                    </li>
                    <li class="col-lg-3 col-sm-3 col-xs-6">
                        <a href="#">
                            <img class="wow fadeIn " alt="kc" data-wow-duration='6s' src="~/Imagens/carousel/KC_logo.png" />
                        </a>
                    </li>
                    <li class="col-lg-3 col-sm-3 col-xs-6">
                        <a href="#">

                            <img class="wow fadeIn " alt="/sanofi" data-wow-duration='7s' src="~/Imagens/carousel/sanofi-converted.png" />
                        </a>
                    </li>
                    <li class="col-lg-3 col-sm-3 col-xs-6">
                        <a href="#">

                            <img class="wow fadeIn " alt="Bayer" data-wow-duration='8s' src="~/Imagens/carousel/bayer-logo-7.jpg" />
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section>
        <div class="map map_height1">
            <div id="google-map" class="map_model" data-zoom="16"></div>
            <ul class="map_locations">
                <li data-x="-41.153309" data-y="-20.845685" data-basic="@Url.Content("~/Imagens/ponto.png")" data-active="/Imagens/ponto-a.png">
                    <div class="location">
                        <h3 class="txt-clr1">
                          Sabino
                            <small>
                                Farma
                            </small>
                        </h3>
                        <address>
                            <dl>
                                <dt>Telefone: </dt>
                                <dd class="phone"><a href="callto:#">28 3521-3191 / 28 9 9940-5577</a></dd>
                            </dl>
                            <dl>
                                <dt>Address: </dt>
                                <dd> 4578 Marmora Road,Glasgow D04 89GR</dd>
                            </dl>
                            <dl>
                                <dt>Horario de Funcionamento: </dt>
                                <dd> 07:00 ás 20:00</dd>
                            </dl>
                            <dl>
                                <dt> E-mail: </dt>
                                <dd><a href="mailto:#">sabinofarma@hotmail.com</a></dd>
                            </dl>
                        </address>

                    </div>
                </li>

            </ul>
        </div>
    </section>
</main>